@use "./src/styles/abstracts" as abstracts;

.hero {
  background: #fff9e5;
  .inner {
    .background {
      .content {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 20px 150px;

        @include abstracts.screen(sm) {
          padding: 40px 20px 80px;
        }

        .icon-bg {
          width: 170px;

          @include abstracts.screen(sm) {
            width: 120px;
          }
        }

        .title {
          max-width: 770px;
          color: #191b1d;
          font-family: Syne;
          font-size: 7.2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.1;
          margin-top: 38px;
          padding: 0 20px;

          @include abstracts.screen(md) {
            font-size: 6rem;
          }

          @include abstracts.screen(sm) {
            font-size: 4rem;
            margin-top: 24px;
          }
        }

        .desc {
          max-width: 670px;
          color: #4e5358;
          font-family: Manrope;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.66;
          margin-top: 18px;
          padding: 0 20px;

          @include abstracts.screen(sm) {
            font-size: 1.6rem;
            margin-top: 16px;
          }
        }
      }
    }
  }
}
