.trending-card {
  &__inner {
    height: 520px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    &:hover {
      transform: scale(1.02);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    padding: 24px;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(11.050000190734863px);
  }
  &__title {
    color: #f0f3f4;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.21; /* 121.429% */
  }
  &__price {
    margin-top: 8px;
    color: #f1f2f3;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5; /* 150% */
  }
  &__desc {
    margin-top: 8px;
    color: #f0f3f4;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42857; /* 142.857% */
  }
}
