.hotel-card {
  &__inner {
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #dddfe3;
    background: #fff;
  }
  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 12px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  &__favorite {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__content {
    margin-top: 8px;
  }
  &__title {
    overflow: hidden;
    color: #1f2226;
    text-overflow: ellipsis;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3; /* 130% */
  }
  &__location {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%; /* 22.4px */
  }
  &__review {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    &-rate {
      padding: 4px;
      border-radius: 12px;
      background: #f1f2f3;
      color: var(--Primary-700, #003499);
      text-align: center;

      font-size: 14px;
      font-weight: 500;
      line-height: 22px; /* 157.143% */
    }
    &-count {
      color: #8b94a4;
      font-size: 10px;
      font-weight: 400;
      line-height: 14px; /* 140% */
    }
  }
  &__types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }
  &__type {
    color: #1f2226;

    font-size: 13px;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
  }
  &__price {
    text-align: right;
    margin-top: 18px;
    &-amount {
      color: #121316;

      font-size: 18px;
      font-weight: 500;
      line-height: 27px; /* 150% */
    }
  }
  &__info {
    margin-top: 3px;
    text-align: right;
    &-text {
      color: #8b94a4;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
    }
  }
}
